ion-content {
  --ion-background-color: #f2f2f2;
}

ion-title {
  color: blue;
}

ion-card-title {
  color: green;
}

ion-button {
  --color: white;
  --background: deepskyblue;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-card {
  --border-top: 1px solid grey;
  --border-bottom: 1px solid grey;
  margin-top: 20px;
}

ion-img {
  max-width: 25%;
}
