#main-container {
  --background-color: #f2f2f2;
  padding-top: 10px;
}

#main-paragraph {
  --color: green;
  font-family: "Arial";
  padding-right: 10px;
  padding-left: 10px;
}

#main-button-container {
	display: flex;
  align-items: center;
}

#main-button {
  --color: white;
  --background: deepskyblue;
  padding-right: 10px;
  padding-left: 10px;
  /*
  --padding-start: 10px;
  --padding-end: 10px;
  */
}

#loading-img {
	height: 30px;
}

/*
#main-sections-container {
	max-height: 60vh;
	overflow-y: auto;
}
*/
