#main-container {
  background-color: #f2f2f2;
  padding-top: 10px;
}

#main-paragraph {
  color: green;
  font-family: "Arial";
  padding-right: 10px;
  padding-left: 10px;
}

#main-button {
  --color: white;
  --background: deepskyblue;
  padding-right: 10px;
  padding-left: 10px;
  /*
  --padding-start: 10px;
  --padding-end: 10px;
  */
}

/*
#main-sections {
	height: 100%;
}
*/
