#section-card {
	border: solid;
  border-color: black;
  border-width: 1px;
}

#section-title {
	color: black;
	font-family: "Arial";
}

#section-paragraph {
  color: green;
  font-family: "Arial";
}

#section-img {
  max-width: 25%;
  /* border: solid; */
  /* border-color: black; */
}
